<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mine Block</title>
</head>
<body>
    <h1>Mine Block</h1>
    <p>{{ message }}</p>
    {% if block %}
        <strong>Block {{ block.index }}</strong><br>
        Previous Hash: {{ block.previous_hash }}<br>
        Timestamp: {{ block.timestamp }}<br>
        Transactions: {{ block.transactions }}<br>
        Hash: {{ block.hash }}
    {% endif %}
    <br>
    <a href="/">Back to Blockchain Explorer</a>
</body>
</html>
