<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Explorer</title>
</head>
<body>
    <h1>Blockchain Explorer</h1>
    <ul>
        {% for block in blockchain %}
            <li>
                <strong>Block {{ block.index }}</strong><br>
                Previous Hash: {{ block.previous_hash }}<br>
                Timestamp: {{ block.timestamp }}<br>
                Transactions: {{ block.transactions }}<br>
                Hash: {{ block.hash }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
